//公共样式
a
  text-decoration none
.router-link-active
  text-decoration none
i
  padding 2px 5px
  font-style normal
  font-weight: inherit;
ul li
  list-style none
ul
  margin 0
  padding 0
.center
  margin 0 5%
  padding 0

.address
  margin 5px 0
  display inline
  font-size 14px
  padding: 5px
  /*border 1px solid red*/
  width 100px

#address
  margin-top 5px
  padding 5px
  display none
  border 1px solid whitesmoke
  width 340px
  position fixed
  z-index 99

/*display none*/
.center-right
  display: inline
  float: right
  font-size: 13px
.header-right
  text-align center
  margin 0
  padding-top 10px

.header-right .cart
  margin: auto 0;
  width: 120px;
  height: 40px;
  border-radius: 0

.header-right .order
  margin-left: 0;
  width: 92px;
  height: 40px;
  border-radius: 0